html {
    height: 100%;
    background-size: fill;
    background: linear-gradient(to bottom right, #4d5868,  #0f1118) no-repeat;
}

#text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: honeydew;
}

#timeOfDay{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: honeydew;
}